* {
  font-family: "Cagliostro", sans-serif;
  font-weight: lighter;
}

:root {
    --col-01: #1f2744;
    --col-02: #bef0ff;
    --col-03: #feffa7;
    --col-04: rgb(237, 200, 255);
    --col-05: #e3b3ff57;
  }
  
  body {
    background: linear-gradient(150deg, rgb(10, 19, 44) 25%, rgb(31, 43, 65), rgb(10, 19, 44) 75%);
    color: var(--col-02);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
  }

main {
    width: 70%;
    padding: 40px;
    background-color: var(--col-05);
  }
  
  header {
    background-color: var(--col-05);
    color: var(--col-02);
    padding: 10px 0;
    text-align: center;
    width: 85%;
  }
  
  nav {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: var(--col-03);
  }

  .mediaplayer {
    width: 100%;
    margin: 0 auto;
  }
  
  audio {
    max-width: 100%;
  }
  
  .controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 10px;
    width: 100%;
  }
  
  .play {
    background-color: var(--col-01);
    color: var(--col-02);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .progress {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    margin-top: 10px;
    overflow: hidden;
  }
  
  .progressbar {
    display: block;
    height: 100%;
    background-color: var(--col-03);
    width: 0;
    transition: width 0.3s ease;
  }
  
  footer {
    color: var(--col-02);
    text-align: center;
    padding: 10px 0;
    width: 100%;
  }

  a {
    color: var(--col-03);
  }

  a:visited {
    color: var(--col-04)
  }