* {
  font-family: "Cagliostro", sans-serif;
  font-weight: lighter;
}

:root {
    --col-01: #1f2744;
    --col-02: #bef0ff;
    --col-03: #feffa7;
    --col-04: rgb(237, 200, 255);
    --col-05: #e3b3ff57;
}
  
/*
  I chose the colour palette above since I wanted to associate the site for relaxing/sleeping with colours for the night sky. I think if someone were to use this sort of site, it would be during the nighttime, so a darker colour palette would be easier on the eyes in the dark. The font was also chosen because I thought it went well with the colour palette.
  Everything in this site is limited to this colour palette except for the background of the body section, because I wanted to use a gradient that looks a little like the night sky, or space, to associate it with sleep.
*/

body {
    background: linear-gradient(150deg, rgb(10, 19, 44) 25%, rgb(41, 66, 88), rgb(10, 19, 44) 75%);
    color: var(--col-02);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

/*
The colour for the background of the main element is slightly transparent so the gradient of the body background can still be slightly visible. I added a border to make it stand out from the page better.
*/

main {
    margin-top: 15px;
    width: 70%;
    padding: 40px;
    background-color: var(--col-05);
    border: 3px solid var(--col-02);
    margin: 5%;
}
  
header {
    background-color: var(--col-01);
    color: var(--col-02);
    border-bottom: 5px solid var(--col-03);
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
  font-size: 36px;
}

footer {
    background-color: var(--col-01);
    color: var(--col-02);
    border-top: 5px solid var(--col-03);
    text-align: center;
    justify-self: flex-end;
    margin-top: 30px;
    width: 100%;
}

ul {
    list-style: none;
}

nav {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}
  
nav ul {
    display: flex;
    justify-content: center;
}
  
nav a {
  margin-right: 30px;
  text-decoration: none;
  color: var(--col-03);
}
  
audio {
    max-width: 100%;
}
  
.controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 10px;
    margin-bottom: 40px;
    padding: 15px;
    border: 2px solid var(--col-02);
    background-color: var(--col-01);
    width: 90%;
}
  
.progress {
    width: 100%;
    height: 12px;
    background-color: var(--col-02);
    margin: 10px;
    margin-right: 15px;
    overflow: hidden;
}
  
#progressbar {
    display: block;
    height: 100%;
    background-color: var(--col-03);
    width: 0%;
    transition: width 0.3s ease;
}
  
h2 {
  color: var(--col-03);
}

section li {
  margin-bottom: 10px;
  font-size: 18px;
}

button {
  background-color: var(--col-02);
  height: 36px;
  width: 48px;
  margin: 3px;
}

/*This is the only colour I didn't put in the root, because it other than here it only got used in the Javascript file.*/
button:hover {
  background-color: #729daa;
}

footer a {
    color: var(--col-03);
}

footer a:visited {
    color: var(--col-04)
}