body {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: rgb(253, 164, 104);
  display: flex;
  flex-direction: column;
  color: black;
  margin: 30px;
  margin-left: 50px;
  /* I wanted to try out a style that slightly resembled the actual site. Since there were a lot of colours included, I decided to just stick with a light orange like the title card for the background of this webpage. */
}

h1 {
  font-family: "Squada One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  /* The two main fonts I decided to use were Arvo and Squada One. I thought a slab font would be a good choice as the main font considering the colours used and would be more ligible. With Squada One, it was only something I wanted to use for the title. I didn't want massive text for the title since it was long, but I still went for a sans serif font that looked a little blocky but still okay given the length of the header. */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

a {
  color: rgb(255, 255, 255);
}
/* Because this is just the link to the site at the top, I just chose white since it stood out better than the default. */

h3 {
  margin: 20px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
}

li {
  margin: 20px;
  margin-left: 25px;
  max-width: 75ch;
}

p {
  margin: 20px;
}

div {
  border-style: double;
  border-width: 5px;
  background-color: antiquewhite;
  max-width: 45%;
  margin: 2%;
}

div.l {
  align-self: flex-start;
}

div.r {
  align-self: flex-end;
}

/* I organised the questions and answers into left and right classes so I could align them similar to how the Concert Hall site arranges its text, even without corresponding images. */
