* {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: rgb(253, 164, 104);
  /* I wanted to try out a style that slightly resembled the actual site. Since there were a lot of colours included, I decided to just stick with a light orange like the title card for the background of this webpage. */
}

body {
  color: black;
  margin: 30px;
  margin-left: 50px;
}

h1 {
  font-family: "Squada One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  /* The two main fonts I decided to use were Arvo and Squada One. I thought a slab font would be a good choice as the main font considering the colours used and would be more ligible. With Squada One, it was only something I wanted to use for the title. I didn't want massive text for the title since it was long, but I still went for a sans serif font that looked a little blocky but still okay given the length of the header. */
}

h2 {
  text-align: center;
}

a {
  color: rgb(255, 255, 255);
}

h3 {
  margin-top: 5%;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}

li {
  margin-left: 20px;
  max-width: 75ch;
}
